/* Main hero section styling */
.hero-section {
  position: relative;
  height: 100vh;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.hero-text {
  font-size: 8vw;
  font-weight: 900;
  line-height: 0.9;
  text-transform: uppercase;
  z-index: 2;
  transition: color 0.3s ease; /* Smooth transition for color */
  pointer-events: none; /* Allow pointer events to pass through */
}

/* Image layer styling */
.image-layer {
  position: absolute;
  width: 25%;
  opacity: 1;
  z-index: 1;
  transition: opacity 0.3s ease, z-index 0s ease 0.3s, transform 0.3s ease; /* Delay z-index change */
}
/*image positioning*/
.image-layer1 {
  top: 20%;
  left: 15%;
}
.image-layer2 {
  top: 10%;
  right: 15%;
}
.image-layer3 {
  bottom: 10%;
  left: 20%;
}
.image-layer4 {
  bottom: 20%;
  right: 20%;
}

/* Subtext overlay on image hover */
.overlay-content {
  position: absolute;
  bottom: -70px; /* Place it just below the image */
  left: 90%;
  transform: translateX(-50%);
  background: transparent; /* Remove background color */
  color: white;
  font-size: 2.5vw; /* Larger font size */
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-weight: 900; /* Bold font */
  text-transform: uppercase;
}
/*placeholder styling*/
.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  overflow: hidden;
  opacity: 0;
  z-index: 0;
}
.placeholder::before,
.placeholder::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  left: 0;
  transform-origin: top left;
}
.placeholder::before {
  transform: rotate(29deg);
}
.placeholder::after {
  top: 100%;
  left: 0;
  transform-origin: bottom left;
  transform: rotate(-29deg);
}
